<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/scripts/listworkers.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Mukta:wght@200;300;400;500;600;700;800&family=Poppins:wght@500&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet"  href="./css/listworkers.css">
</head>
<body>
    <div id="preloader">
        <div class="bar">
            <div class="ball"></div>
        </div>
    </div>
    <header>
        <div id="title">SERVICESCAPE</div>
        <nav>
            <ul>
                <a href="/"><li>HOME</li></a>
                <a href="/#thirdsec"><li>SERVICES</li></a>
                <a href="/userdashboard"><li>DASHBOARD</li></a>
                <a href="/userprofileedit"><li>PROFILE</li></a>
                <a href="/about"><li>ABOUT</li></a>
                <a href="/logout"><li>LOGOUT</li></a>
            </ul>
        </nav> 
    </header>
    <h1>Available Workers</h1>
    <div id="filterbox">
        <div class="coolinput">
            <label for="input" class="text">Name:</label>
            <input type="text" id='namesearch'placeholder="Search name..." name="input" class="input">
        </div>
        <div class="coolinput">
            <label for="input" class="text">City:</label>
            <input type="text" id='citysearch' placeholder="Search city..." name="input" class="input">
        </div>
        <select id="ratingsearch" name="rating">
            <option value="0">Rating</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <select id="availabilitysearch" name="availability">
            <option value="0">Availability</option>
            <option value="available">Available</option>
            <option value="busy">Busy</option>
        </select>
    </div>
    <div id="recordholder">
        <% data.forEach(record => { %>
            <div class="record <%= record.status === 'busy' ? 'busyrec' : 'availablerec' %>">
                <h2>Name: <%= record.name %></h2>
                <p>City: <%= record.city %></p>
                <p class="<%= record.status === 'busy' ? 'busy' : 'available' %>">Status: <%= record.status %></p>
                <div class="rating">
                    <label>Rating:</label>
                    <% for (let i = 1; i < record.rating; i++) { %>
                        <span class="star">&#9733;</span>
                    <% } %>
                </div>
                <br>
                <% if (record.status !== 'busy') { %>
                    <button id='bottone1' onclick="window.location.href='/workerdetails?id=<%= record.id %>'">Book Now</button>
                <% } %>
            </div>
        <% }) %>
    </div>
    <script>
        window.addEventListener('load', () => {
            const preloader = document.getElementById('preloader');
            preloader.style.display = 'none';
        });
    </script>
</body>
</html>