<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/userdashboard.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Workbench&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
  <div id="preloader">
    <div class="bar">
        <div class="ball"></div>
    </div>
</div>
    <header>
        <div id="title">NurseNet</div>
        <nav>
            <ul>
              <a href="/"><li>HOME</li></a>
              <a href="/userdashboard"><li>DASHBOARD</li></a>
              <a href="/userprofileedit"><li>PROFILE</li></a>
              <a href="/about"><li>ABOUT</li></a>
              <a href="/logout"><li>LOGOUT</li></a>
            </ul>
        </nav> 
    </header>
    <div id="dashboard">
        <h1>DASHBOARD</h1>
            <% data.forEach(function(booking,index) { %>
              <div class="booking <% if (booking.bookingstatus == 'done') { %>bookingaccept<% } else if (booking.bookingstatus == 'rejected') { %>bookingreject<% } else if (booking.bookingstatus == 'pending') { %>bookingpending<% }%> <%if (booking.bookingstatus == 'done' && booking.paymentstatus == 'paid' && booking.reviewstatus == 'done') { %>alldone<% } %>"  id="booking<%= index %>">
              <div id="detailwrapper">
                <p><strong>Nurse Name:</strong> <%= booking.workerid.name %> </p>
                  
                  <% if (booking.paymentstatus === 'paid') { %>
                    <p><strong>Email:</strong> <%= booking.workerid.email %><strong>Contact:</strong> <%= booking.workerid.contact %></p>
                  <% } %>
                  
                  <p><strong>From Date:</strong> <%=  booking.fromdate.toLocaleDateString('en-GB') %></p>
                  <p><strong>To Date:</strong> <%=  booking.todate.toLocaleDateString('en-GB') %></p>
                  <p><strong>Problem:</strong><%= booking.problem %></p>
                    <p class="<% if (booking.paymentstatus == 'paid') { %>paypaid<% } else if (booking.paymentstatus == 'pending') { %>paypending<% } else if (booking.paymentstatus == 'requested') { %>payrequested<% } %>"> <strong>Payment: <%= booking.paymentstatus %></strong> </p>
                  <p  class="<% if (booking.bookingstatus == 'done') { %>bookaccept<% } else if (booking.bookingstatus == 'rejected') { %>bookreject<% } else if (booking.bookingstatus == 'pending') { %>bookpending<% } %>"><strong>Booking Status:  <%= booking.bookingstatus %></strong></p>
                  <p><strong>Amount:</strong> <%= booking.baseprice %></p>
                
                  <% if (booking.paymentstatus === 'pending') { %>
                  <button onclick="cancelBooking('<%= booking._id %>','<%= index %>')" class="button">
                      <span class="button_lg">
                          <span class="button_sl"></span>
                          <span class="button_text">Cancel</span>
                      </span>
                  </button>
                  <% } %>
                  <% if (booking.paymentstatus === 'requested' && booking.bookingstatus === 'done') { %>
                    <form action="/paydemo" method="post">
                        <input type="hidden" name="bookingid" value="<%= booking._id %>">
                        <button type="submit" class="button">
                            <span class="button_lg ">
                                <span class="button_sl paybtn" ></span>
                                <span class="button_text">Pay now</span>
                            </span>
                        </button>
                      </form>
                    <% } %>
                    <% if (booking.paymentstatus === 'paid' && booking.reviewstatus === 'pending') { %>
                    <form action="/rateworker" method="post">
                        <p><strong><label for="rating">Rating (out of 5):</label></strong></p>
                        <input type="number" id="rating" name="rating" min="1" max="5" required>
                        <br>
                        <p><strong><label for="review">Review:</label></strong></p>
                        <textarea id="review" name="review" rows="4" cols="50" required></textarea>
                        <br>
                        <input type="hidden" name="bookingid" value="<%= booking._id %>">
                        <button type="submit" class="button" >
                            <span class="button_lg">
                                <span class="button_sl" style="background-color: rgb(13, 167, 74);"></span>
                                <span class="button_text">Submit</span>
                            </span>
                        </button>
                    </form>
                    <% } %>
                    <% if (booking.paymentstatus === 'paid' && booking.reviewstatus === 'done' && booking.bookingstatus === 'done') { %>
                      <button onclick="cancel('<%= index %>','<%= booking._id %>')" id="cancel<%= index %>" class="button">
                        <span class="button_lg">
                            <span class="button_sl"></span>
                            <span class="button_text">Delete</span>
                        </span>
                    </button> 
                    <% } %>  
                </div>
                </div>
            <% }); %>
    </div>
<script src="/scripts/userdashboard.js"></script>
<script>
  window.addEventListener('load', () => {
      const preloader = document.getElementById('preloader');
      preloader.style.display = 'none';
  });
</script>
</body>
</html>