<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="./css/useredit.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Workbench&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div id="preloader">
        <div class="bar">
            <div class="ball"></div>
        </div>
    </div>
    <header>
        <div id="title">NurseNet</div>
        <nav>
            <ul>
                <a href="/"><li>HOME</li></a>
          <a href="/workerdashboard"><li>DASHBOARD</li></a>
          <a href="/workerprofileedit"><li>PROFILE</li></a>
          <a href="/about"><li>ABOUT</li></a>
            <a href="/logout"><li>LOGOUT</li></a>
            </ul>
        </nav> 
    </header>
   <div id="formwrapper">
    <form class="form" id="form" action="/workerprofileedit" method="post">
        <span class="title">PROFILE UPDATE</span>
        <label for="address" class="label">Address</label>
        <input type="text" id="address" name="address" required="" class="input" value="<%= data.address || '' %>">
        <label for="contact" class="label">Contact</label>
        <input type="text" id="contact" name="contact" required="" class="input" value="<%= data.contact || '' %>">
        <label for="pincode" class="label">Pincode</label>
        <input type="text" id="pincode" name="pincode" required="" class="input" value="<%= data.pincode || '' %>">
        <label for="city" class="label">City</label>
        <input type="text" id="city" name="city" required="" class="input" value="<%= data.city || '' %>">
        <label for="description" class="label">Description</label>
        <textarea id="description" name="description" class="input" value="<%= data.description || '' %>"></textarea>
        <label for="password" class="label">Password</label>
        <input type="password" id="password" name="password" required="" class="input" value="<%= data.password || '' %>">
        <button type="submit" class="submit">Update</button>
      </form>
   </div>
</form>
<script>
    window.addEventListener('load', () => {
        const preloader = document.getElementById('preloader');
        preloader.style.display = 'none';
    });
</script>
</body>
</html>