<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval' http://www.google.com">
    <title>Document</title>
</head>
<body>
    <button onclick="window.location.href='/workerprofileedit'">Edit Profile</button>
     <div>
        <p><%= data.name %></p>
        <p><%= data.description %></p>
        <p><%= data.email %></p>
        <p>Address: <%= data.address %></p>
        <p>City: <%= data.city %></p>
        <p>Pincode: <%= data.pincode %></p>
        <p>Contact: <%= data.contact %></p>
        <p>Profession: <%= data.profession %></p>
        <p>Rating: <%= data.rating %></p>
        <p>No. of Ratings: <%= data.noofratings %></p>
     </div>
     <h1>booking deets</h1>
    <% books.forEach(function(book,index) { %>
        <div id="book<%= index %>">
            <h2>Name: <%= book.userid.name %></h2>
            <p>Email: <%= book.userid.email %></p>
            <p>Address: <%= book.userid.address %></p>
            <p>City: <%= book.userid.city %></p>
            <p>Pincode: <%= book.userid.pincode %></p>
            <p>Contact: <%= book.userid.contact %></p>
            <P>Problem: <%= book.problem %></P>
            <div>
                <button onclick="accepted('<%= index %>','<%= book._id %>')" id="accept<%= index %>">Accept</button>
                <button style="display: none;" onclick="cancel('<%= index %>','<%= book._id %>')" id="cancel<%= index %>">Cancel</button>
                <button onclick="rejected('<%= index %>','<%= book._id %>')" id="reject<%= index %>">Reject</button>
                <button style="display: none;" onclick="reqpayment('<%= index %>','<%= book._id %>')" id="requestPaymentButton<%= index %>">Request Payment</button>
            </div>
            
        </div>
    <% }); %>
    <script src="workerdashboard.jjs"></script>
        </body>
        </html>
